<div class="row d-flex justify-content-between align-items-center mb-3">
  <h1 class="col-auto">{{title}}</h1>
</div>

<div class="row" id="products-container">
</div>

<a
  class="btn btn-primary position-fixed bottom-0  end-0 m-4 shadow"
  id="cartCount"
  href="/cart"
>
  <i class="bi bi-cart"></i>
  Cart
</a>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeProducts.js"></script>