<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="text-center mb-4">Nueva contraseña</h2>
          <form id="resetForm">
            <input type="hidden" name="token" value="{{token}}" />
            <div class="mb-3">
              <label class="form-label">Nueva contraseña</label>
              <input type="password" name="password" class="form-control" placeholder="Ingrese nueva contraseña" required>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-success">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>