<footer class="bg-dark text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-4">
        <h5>About Us</h5>
        <p>Your trusted e-commerce platform for quality products and exceptional
          service.</p>
      </div>
      <div class="col-md-3 mb-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a
              href="/"
              class="text-white-50 text-decoration-none"
            >Home</a></li>
          <li><a
              href="/createProduct"
              class="text-white-50 text-decoration-none"
            >Gestionar productos</a></li>
          <li><a
              href="/products-rt"
              class="text-white-50 text-decoration-none"
            >Ver todos los productos</a></li>
          <li><a
              href="/products-filtered"
              class="text-white-50 text-decoration-none"
            >Filtrar productos</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-4">
        <h5>Contact Info</h5>
        <p><i class="bi bi-envelope"></i> gabriel.esteban.shulman@gmail.com</p>
        <p><i class="bi bi-whatsapp"></i> +54 9 011 5508 5439</p>
      </div>
      <div class="col-md-3 mb-4">
        <h5>Seguime</h5>
        <ul class="list-unstyled">
          <li><a
              href="www.linkedin.com/in/gabriel-esteban-shulman"
              class="text-white-50 text-decoration-none"
            ><i class="bi bi-linkedin"></i> Linkedin</a></li>
          <li>
        </ul>
      </div>
    </div>
    <hr class="bg-white-50" />
    <div class="text-center">
      <p class="mb-0">&copy; 2026 E-Commerce Gabriel Esteban Shulman. All rights reserved.</p>
    </div>
  </div>
</footer>