<header>
  <nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container">
      <a class="navbar-brand" href="/">Home</a>
      <div>
        <a class="btn btn-outline-warning" href="/createProduct">Gestionar
          productos</a>
        <a class="btn btn-outline-success" href="/products-rt">
          Todos los productos
        </a>
        <a class="btn btn-outline-success" href="/products-filtered">
          Buscar un producto
        </a>
      </div>
    </div>
  </nav>
</header>