<h2>Login</h2>
{{#if error}}
  <div class="alert alert-danger">
    {{error}}
  </div>
{{/if}}
<form method="POST" action="/api/auth/login">
  <input type="email" name="email" placeholder="Email" required />
  <input type="password" name="password" placeholder="Password" required />
  <button type="submit">Ingresar</button>
</form>

<a href="/register">No tengo cuenta</a>