<div class="card p-5 w-50 align-items-strech">
  <h2>Login</h2>
  {{#if query.error}}
    <div class="alert alert-danger">
      {{query.error}}
    </div>
  {{/if}}
  <form method="POST" action="/api/auth/login">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" for="mailInput">Email</label>
      <input
        class="form-control"
        type="email"
        name="email"
        placeholder="Email"
        id="mailInput"
        required
      />
    </div>
    <div class="mb-3">
      <label for="passIput" class="form-label">Contraseña</label>
      <input
        class="form-control"
        type="password"
        name="password"
        placeholder="Password"
        id="passIput"
        required
      />
      <div class="btn-group mt-3" role="group">
        <button class="btn btn-success" type="submit">Ingresar</button>
        <a href="/register" class="btn btn-primary">No tengo cuenta</a>
        <a href="/forgot-password" class="btn btn-secondary">No recuerdo mi contraseña</a>
      </div>
    </div>
  </form>
</div>