<div class="card p-5 w-50 align-items-strech">
  <h2>Recuperacion de contraseña</h2>
  {{#if query.error}}
    <div class="alert alert-danger">
      {{query.error}}
    </div>
  {{/if}}
  <form id="mailForgoted">
    <div class="mb-3">
      <input
        class="form-control"
        type="email"
        name="email"
        placeholder="Tu email"
        required
      />
    </div>
    <div class="btn-group mt-3">
      <button class="btn btn-success">Enviar mail</button>
    </div>
  </form>
</div>